<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cree su cuenta:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="inputs" lines="none">
    <ion-label position="stacked">Correo:</ion-label>
    <div>
      <ion-input type="text"></ion-input>
    </div>
  </ion-item>
  <ion-item class="inputs" lines="none">
    <ion-label position="stacked">Contraseña:</ion-label>
    <div>
      <ion-input [type]="passwordTypeInput"></ion-input>
      <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
        <ion-icon [name]="iconpassword"></ion-icon>
      </button>
    </div>
  </ion-item>

  <ion-content>
    <ion-button class="Contratar" [routerLink]="['../home']">Iniciar Sesion</ion-button>
  </ion-content>
</ion-content>
