ion-content {
    --background: #fff url('../../../../assets/img/fondo.jpg') no-repeat center center / cover;
    position: relative;
    text-align: center;
    justify-items: center;
}

ion-item {
    position: fixed;
    bottom: 2%;
    width: 100%;
    --background: rgba(255, 255, 255, 0.4);
}

.btnLogin {
    width: 44%;
    margin-left: 5%;
    --border-radius: 15px;
}

.btnSignUp {
    width: 44%;
    margin-left: 2%;
    --border-radius: 15px;
}