<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tenico:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item class="inputs" lines="none">
      <ion-label position="stacked">Telefono:</ion-label>
      <div>
        <ion-input type="text"></ion-input>
      </div>
    </ion-item>
    <ion-item class="inputs" lines="none">
      <ion-label position="stacked">Direccion:</ion-label>
      <div>
        <ion-input type="text"></ion-input>
      </div>
    </ion-item>
    <ion-item class="inputs" lines="none">
      <ion-label position="stacked">Tipos de servicios que brinda:</ion-label>
      <div>
        <ion-select
          multiple="false"
          cancelText="Nah"
          okText="Okay!"
          placeholder="Seleccione"
        >
          <ion-select-option value="1"> Gratis</ion-select-option>
          <ion-select-option value="2"> Clasica</ion-select-option>
          <ion-select-option value="3"> Gratis</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
    <ion-item class="inputs" lines="none">
      <ion-label position="stacked"
        >Categoria que pretenecen sus servicios:</ion-label
      >
      <div>
        <ion-select
          multiple="true"
          cancelText="Nah"
          okText="Okay!"
          placeholder="Seleccione"
        >
          <ion-select-option value="1"> Gratis</ion-select-option>
          <ion-select-option value="2"> Clasica</ion-select-option>
          <ion-select-option value="3"> Gratis</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  </form>

  <ion-content padding>
    <ion-item lines="none">
      <ion-text>Selecciona El Tipo De Cuenta</ion-text>
    </ion-item>
    <ion-button class="register" [routerLink]="['/register', '1']"
      >Quiero Contratar</ion-button
    >
    
  </ion-content>
</ion-content>
