<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cree su cuenta:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item class="inputs" lines="none">
      <ion-label position="stacked">Nombre Completo:</ion-label>
      <div>
        <ion-input type="text"></ion-input>
      </div>
    </ion-item>
    <ion-item class="inputs" lines="none">
        <ion-label position="stacked">Correo:</ion-label>
        <div>
          <ion-input type="text"></ion-input>
        </div>
      </ion-item>
      <ion-item class="inputs" lines="none">
          <ion-label position="stacked">Contraseña:</ion-label>
          <div>
            <ion-input type="text"></ion-input>
          </div>
        </ion-item>
  </form>
  <ion-button class="register">
    Crar Cuenta
  </ion-button>
</ion-content>
